/*** Color Pallete ***/
$black:#000000;
$black-1:#111111;
$gray:#707070;
$white:#FFFFFF;
$offWhite: rgba(255,255,255, 0.25);
$yellow:#FFCA00;
$orange:#EA5125;
$blue:#0389D0;
$green:#4DAE81;
$pink:#F5B3BF;


/*** Transition ***/
$transitionFast: all 0.3s ease-in-out;
$transitionSlow: all 0.6s ease-in-out;



